@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.App {
  /* font-family: "Open Sans", sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(23, 23, 23);
  margin: 0;
  padding: 0;
}

img {
  
  object-fit: cover;
  height: 25em;
  width: 25em;
  border-radius: 10px;
  margin-bottom: 10px;
}

.Nav-Bar {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: rgba(10, 78, 65, 0.727);
  height: 3em;
  margin: 0;
  color: aliceblue;
  text-align: left;
}

.Nav-Link {
  color: aliceblue;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
}

.Title {
  color: aliceblue;
}

.Main-Card {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  margin: 15px;
  padding: 10px;
}

.Ride-card {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  width: 70em;
  height: 750px;
}

.Ride-Div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  line-height: 0.1em;
  background-color: rgb(23, 47, 72);
  color: aliceblue;
  width: 40em;
  height: 750px;
}

.Ride-Name {
  margin: 25px;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 35px;
}

.Review-Div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(224, 224, 224);
  height: 750px;
  width: 40em;
}

.Posted-Reviews {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: 300px;
  width: 95%;
  background-color: rgba(46, 46, 46, 0);
  color: aliceblue;
}

.User-Review {
  line-height: 0.3em;
  background-color: darkslategrey;
  border-radius: 15px;
  width: 32em;
  margin: 5px;
}

.test-card {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(6, 6, 6);
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
}

.test-card2 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(59, 59, 59);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
}

.Form-Btn {
  color: aliceblue;
  font-size: 15px;
  background-color: rgb(24, 24, 24);
  width: 50%;
  height: 40px;
  border-style: none;
  border-radius: 20px;
  margin-top: 8px;
}

.Form-Btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(68, 68, 68);
}

.Form-Btn-Review-Delete {
  color: aliceblue;
  font-size: 12px;
  background-color: rgb(24, 24, 24);
  width: 15%;
  height: 25px;
  border-style: none;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Form-Btn-Review-Delete:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(201, 3, 3);
}

.Form-Btn-Delete {
  color: aliceblue;
  font-size: 15px;
  background-color: rgb(24, 24, 24);
  width: 20%;
  height: 40px;
  border-style: none;
  border-radius: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.Form-Btn-Delete:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(201, 3, 3);
}

.Form {
  color: aliceblue;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Input {
  background-color: rgba(13, 19, 19, 0.732);
  border-style: none;
  border-radius: 5px;
  width: 80%;
  height: 30px;
  color: aliceblue;
  margin: 5px;
}

.Input-Message {
  background-color: rgba(13, 19, 19, 0.732);
  border-style: none;
  border-radius: 5px;
  color: aliceblue;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
